################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

tinyray.exe
/Debug/*
/x64/*
/TinyRay/x64/*
/TinyRay/x64/debug/*
/TinyRay/x64/release/*

/TinyRay.VC.db
/TinyRay.sdf
/TinyRay.VC.VC.opendb
